
/* Bienvenido a la plantilla de CSS de Fede
 * Cada vez que hagas una clase, ¡comenta
 * para qué sirve! así nos entendemos.
 */

/* Para escribir código al estilo VS-Code.*/
.code {
  text-align: left;
  text-shadow: none; 
}

/* Para tachar texto*/

  .tachado{text-decoration:line-through;}

/* Para dejar el texto con fondo marron*/
.colorBlack {
  background-color: #1e1e1e;
  color: whitesmoke;
}

/* Para dejar el texto coloreado y tachado*/
.colorTachado {
  text-decoration:line-through;
  color: #555;
}

/* para eliminar frente diapo 2*/

[class*='content-'] + [class*='content-'] {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

/* FIN */

.code-comment {
  color: #6a9955;}

.code-include {
  color: #c586c0;}  
  
.code-type {
  color: #569cd6;}

.code-struct {
  color: #4ec9b0;}  

.code-number {
  color: #b5cea8;}

.code-function-names {
  color: #dcdcaa;}  

.code-names {
  color: #9cdcfe;}  
  
.code::selection {
  background: red;
  color: pink;
}

/* Una bella línea*/
.line {
  height: 3px;
  width: 50%;
  background-color: #555;
}

/* Si queremos cambiar la frente */
.section, .slide {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* card? I dont know */
.flex-content, [class*="card"] blockquote {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

  /* IMAGEN CHANGE */
  .imagenCambiante {
    transition: opacity 1.5s ease-in-out;
  }
  
  .imagenCambiante img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .imagenCambiante img.top:hover {
    opacity: 0;
  }


/* Variables que usamos para animación de 4 cuadraditos.*/
:root {
  --seconds-animation: 10s;
  --square-size: 2em;
  --number-of-squares: 4;
}

.grid-chiquita {
  display: grid;
  background-color: #f7f9fb;
  width: calc(
    (var(--number-of-squares) * 2 - 1)
    * var(--square-size)
  );
  height: var(--square-size);
  grid-template-columns: repeat(var(--number-of-squares), 1fr);
  grid-column-gap: var(--square-size);
}

.a.a1 {
  animation:
    first var(--seconds-animation) linear 0s 1 normal both running;
  -webkit-animation:
    first var(--seconds-animation) linear 0s 1 normal both running;
}

.a.a2 {
  animation:
    second var(--seconds-animation) linear 0s 1 normal both running;
  -webkit-animation:
    second var(--seconds-animation) linear 0s 1 normal both running;
}

.a.a3 {
  animation:
    third var(--seconds-animation) linear 0s 1 normal both running;
  -webkit-animation:
    third var(--seconds-animation) linear 0s 1 normal both running;
}

.a.a4 {
  animation:
    fourth var(--seconds-animation) linear 0s 1 normal both running;
  -webkit-animation:
    fourth var(--seconds-animation) linear 0s 1 normal both running;
}

/* ANIMATION */
@keyframes first {
  from { background-color: green; }
  25%, 75% { background-color: red; }
  50% { background-color: green; }
  to { background-color: red; }
}


@-webkit-keyframes first {
  from { background-color: green; }
  25%, 75% { background-color: red; }
  50% { background-color: green; }
  to { background-color: red; }
}

@keyframes second {
  from { background-color: red; }
  25% { background-color: green; }
  50% { background-color: red; }
  to { background-color: red; }
}

@-webkit-keyframes second {
  from { background-color: red; }
  25% { background-color: green; }
  50% { background-color: red; }
  to { background-color: red; }
}

@keyframes third {
  from { background-color: red; }
  25% { background-color: green; }
  to { background-color: green; }
}

@-webkit-keyframes third {
  from { background-color: red; }
  25% { background-color: green; }
  to { background-color: green; }
}

@keyframes fourth {
  from { background-color: green; }
  25% { background-color: red; }
  75% { background-color: green; }
  to { background-color: green; }
}

@-webkit-keyframes fourth {
  from { background-color: green; }
  25% { background-color: red; }
  75% { background-color: green; }
  to { background-color: green; }
}
  
